{% extends 'base.html.twig' %}
{% block title %}Reset Password !{% endblock %}
{% block body %}
    <div class="admin container-fluid p-0">
        <div class="row adm justify-content-center m-0">
            <div class="col-5 justify-content-center login-form">
                <form method="post">
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}