$primary-color: #7ddc1f;
$secondary-color: #0073e5;
$bg-color: #f5f5f5;
$dark: #1a1a1a;
$font-color: #919aa1;
$light-font: white;
$subtitleFontSize:1.6em;
$titleFontSize : 3em;
$fontColor: #919aa1;
$textModal: #3d4145;
$buttonHoverColor:#f8f9fa;
$mainFont :  'Raleway', sans-serif;
$textFont : "Lato", sans-serif;
$banner-title: white;
$admin-color: #5d9b9b;
$modalHeaderBg : #959796;
$form-color: #f9f7f7;
$light-font-color : white;
$navbarAdmBg : #d4d4d4;
$inputColor: #e3e3e3;
$sectionColor: rgba(7, 39, 61, 0.51);
$navLinkColor: #5993bb;
$newsBg : #dedede;
$danger : red;
$redCircle : #ff0500;
$lvl1-color: #c24c00;
$lvl2-color: #003d7a;
$lvl3-color: #406f0f;
$gr1lvl1: #ff6600;
$gr2lvl1: #91140a;
$gr1lvl2: #37D5D6;
$gr2lvl2: #36096D;
$gr2lvl3: #2f5e13;
