@import "vars";
@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import "appAdmin";

/* Default banner */
.banner {
  width: 100%;
  height: 40vw;
  overflow: hidden;
}

/* Parallax effect */
.paral {
  background-attachment: fixed;
  background-size: cover;
  background-position: 20% 80%;
}

/* Image for Parallax Section */
.backgroundban {
  background-image: url('../images/BannerHome.jpg');
}

/* Default image container */
.banner .backgroundban {
  width: 100%;
  position: absolute;
}

/* Titles */
.banner h1 {
  font-size: 5em;
  font-weight: 600;
  color: $banner-title;
  margin-top: 12rem;
  font-family: $mainFont;
  text-transform: uppercase;
}

.banner h2 {
  font-size: 1.6em;
  color: $banner-title;
  font-family: $mainFont;
  font-weight: 600;
}

body {
  background-color: $bg-color;
}
h1,h2,h3,h4 {
    font-family: $mainFont;
}
h2 {
    font-size: $h2FontSize;
}

footer {
    font-family: $mainFont;
}

.logo_footer {
    max-width: 250px;
}

.footer_link {
    font-size: 1.4em;
    color: $dark;
    transition: 0.5s;
    font-family: $mainFont;

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}

address {
    color: $dark;
    font-size: 1.3em;
}

.list-group-item {
    border: none;
}

/* Navbar */

.navbar {
    padding: 0;
    .logo-navbar {
        max-width: 250px;
        margin-left: 20px;
    }

    .navbar-toggler {
        color: $primary-color;
        font-size: 3em;
    }
    .nav-item {
        padding-left: 5vw;

        .nav-link {
            font-size: 1.7em;
            color: $black;
            transition: 0.5s;
            font-family: $mainFont;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .dropdown-menu {
        left: auto;

		.dropdown-item {
            font-size: 1.5em;
        }
    }
}

.presta {
    padding-top: 6em;
    padding-bottom: 6em;
    img{
        min-width: 100%;
        max-width: 100%;
        border-radius: 50%;
        border: 8px solid $border-color;
        transform: scale(0.9);
        filter: grayscale(0.4);
        transition: all .2s ease-out;
    }
    img:hover {
        transform: scale(1);
        filter: contrast(120%);
        transition: all .2s ease-in;
    }
}

.picto h3 {
    padding-top: 1em;
}

section {
    padding-top: 6em;
    padding-bottom: 6em;
    h2 {
        font-size: 3em;
    }
    p {
        line-height: 1.7em;
        font-size: 1.7em;
        color:darken($fontColor, 30%);
    }
    .bold {
        font-weight: bold;
    }
}

section:nth-child(even) {
    background-color: $background-color-light;
}

.whoweare {
    p::first-letter{
        color: $primary-color;
        font-size: 2.5em;
        vertical-align: middle;
    }
}

@media screen and (max-width: 410px) {
    .navbar-brand{
        width: 70px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
    .navbar{
        .nav-item{
            padding-left: 1vw;
        }
    }
}
