@import "vars";
@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import "appAdmin";

.fa-phone {
    transform: rotate(95deg);
}

.card-team {
    cursor: pointer;
}

.modal {
    cursor: default;
}

.special-row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -10px;
}

.modal-text {
    max-height: calc(100vh - 450px);
    overflow-y: auto;
    color: $textModal;
}

.detail-modal {
    align-self: center;
}

.card-title{
    font-size: 1.6rem;
    text-transform: none;
    color: $dark;
}

.img-team {
    max-width: 150px;
    min-width: 150px;
    border-radius: 50%;
    border: 2px solid $fontColor;
    max-height: 150px;
    object-fit: cover;
}

.title-card {
    text-transform: none;
    font-size: 1.1rem;
    color: $dark;
}

.hr-modal {
    background-color: $admin-color;
}

.hr-style {
    background-color: $admin-color;
    margin: 1em 2em 0 2em;
}

.modal-title {
    text-align: center;
    text-transform: none;
}

.modal-header {
    padding-bottom: 0rem;
    border-bottom: none;
}

.modal-body {
    padding-top: 0rem;
}

/* Default banner */
.banner {
    width: 100%;
    height: 40vw;
    overflow: hidden;
}

/* Parallax effect */
.paral {
    background-attachment: fixed;
    background-size: cover;
    background-position: 20% 80%;
}

/* Image for Parallax Section */
.backgroundban {
    background-image: url('../images/BannerHome.jpg');
}

/* Default image container */
.banner .backgroundban {
    width: 100%;
    position: absolute;
}

/* Titles */
.banner h1 {
    font-size: 5em;
    font-weight: 600;
    color: $banner-title;
    margin-top: 12rem;
    font-family: $mainFont;
    text-transform: uppercase;
}

.banner h2 {
    font-size: $subtitleFontSize;
    color: $banner-title;
    font-family: $mainFont;
    font-weight: 600;
}

body {
    background-color: $bg-color;
}

h1,h2,h3,h4 {
    font-family: $mainFont;
}
h2, h3 {
    font-size: $titleFontSize;
}

h4,h5,h6 {
    font-size: $subtitleFontSize;
}


footer {
    font-family: $mainFont;
}

p {
    font-family: $textFont;
}

.logo_footer {
    max-width: 250px;
}

.footer_link {
    font-size: 1.4em;
    color: $dark;
    transition: 0.5s;
    font-family: $mainFont;

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}

address {
    color: $dark;
    font-size: 1.3em;
}

.list-group-item {
    border: none;
}

/* Navbar */

.navbar {
    padding: 0;
    .logo-navbar {
        max-width: 250px;
        margin-left: 20px;
    }

    .navbar-toggler {
        color: $primary-color;
        font-size: 3em;
    }
    .nav-item {
        padding-left: 5vw;

        .nav-link {
            font-size: 1.7em;
            color: $black;
            transition: 0.5s;
            font-family: $mainFont;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .dropdown-menu {
        left: auto;

		.dropdown-item {
            font-size: 1.5em;
        }
    }
}

.presta {

    img{
        min-width: 100%;
        max-width: 100%;
        border-radius: 50%;
        transform: scale(0.9);
        filter: grayscale(0.4);
        transition: all .2s ease-out;
    }
    img:hover {
        transform: scale(1);
        filter: contrast(120%);
        transition: all .2s ease-in;
    }
}

.picto h3 {
    font-size: $subtitleFontSize;
    padding-top: 1em;
}

section {
    padding-top: 6em;
    padding-bottom: 6em;
    h2 {
        font-size: 3em;
    }
    p {
        line-height: 1.7em;
        font-size: 1.7em;
        color:darken($fontColor, 30%);
    }
    .bold {
        font-weight: bold;
    }
}

section:nth-child(even) {
    background-color:  lighten($bg-color, 100%);
    box-shadow: 0px 15px 10px -15px #111;
}

.whoweare {
    p::first-letter{
        color: $primary-color;
        font-size: 2.5em;
        vertical-align: middle;
    }
}

@media screen and (max-width: 410px) {
    .navbar-brand{
        width: 70px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
    .navbar{
        .nav-item{
            padding-left: 1vw;
        }
    }
}

/*News*/

.blog {

    img {
        max-width: 100%;
        min-width: 100%;
        object-fit: cover;
        min-height: 100%;
    }

    p {
        word-break: break-word;
    }

    h5 {
        font-size: 2em;
        font-family: $mainFont;
    }

    h5::first-letter {
        font-size: 2em;
        color: $primary-color;
        vertical-align: middle;
    }

    .btn {
        border: 2px solid $primary-color;
        padding: 0.5em;
        border-radius: 5px;
    }

    .btn:hover {
        background-color: $buttonHoverColor;
        color: #000000;
        border: 2px solid $secondary-color;
    }

    .info {
        padding-top: 3em;
    }
}

/* PAGE FORMATION */

.training-name {
    padding: 20px 10px 40px 10px;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 2vw;
    margin-top: 1vw;
    border-bottom: solid 1px $primary-color;
}

.infos-trainings {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.picto-trainings {
    margin-right: 10px;
    color: lighten($primary-color, 20%)
}

.program {
    margin-top: 2vw;
    margin-bottom: 2vw;

    h4 {
        padding-top: 2vw;
        padding-bottom: 1vw;
    }
}

.trainings {
    background-color: $bg-color;
    ul {
        margin-top: 2vw;

        .list-group-item {
            color: $dark;
            display: inline-block;
            background: none;
            border-left: solid 1px $primary-color;

            &:hover {
                background: none;
            }

            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 0;
                background: transparent;
                transition: width .7s ease, background-color .7s ease;
            }

            &:hover:after {
                width: 100%;
                background: $primary-color;
            }

            &:active {
                color: $primary-color;
            }
        }
    }
}

.pic-container {
    margin-top: 0.8vw;
    overflow: hidden;
    height: 30vw;
    .training-pic {
        object-fit: cover;
        width: 100%;
        filter: brightness(50%);
    }
    .trainings-title {
        position: absolute;
        text-align: center;
        margin-top: 14vw;
        margin-bottom: 3vw;
        font-size: 6em;
        z-index: 1;
        color: $bg-color;
        letter-spacing: 0px;
    }
}

.back-to-list-trainings {
    transition: 0.5s;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

.audit {
    p {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.7em;
    }
    .img-audit {
        object-fit: cover;
        max-width: 500px;
    }
    .hr-audit {
        background-color: $admin-color;
        height: 1px;
    }
}
