/**Formation admin**/

.formation-title {
  font-size: $h1-font-size;
}
.formation-sub-title {
  font-size: $h2-font-size;
}

.table-title {
  font-size: 1.5em;
  color: $bg-color;
  background-color: $admin-color;
}

.link-formation {
  text-decoration: none;
  font-size: 1.1em;
  &:hover {
    color: $admin-color;
    text-decoration: none;
  }
}

.add {
  border: solid 1px $admin-color;
  border-radius: 20px;
  font-size: 1em;
  color: $dark;
  transition: 0.5s;
  font-family: $mainFont;

  &:hover {
    color: $admin-color;
  }
}

.icon:hover {
  opacity: 0.5;
}