/**Training admin**/

.training-title {
  font-size: $h1-font-size;
}
.training-sub-title {
  font-size: $h2-font-size;
}

.table-title {
  font-size: 1.5em;
  color: $bg-color;
  background-color: $admin-color;
}

.link-training {
  text-decoration: none;
  font-size: 1.1em;
  &:hover {
    color: $admin-color;
    text-decoration: none;
  }
}

.add {
  border: solid 1px $admin-color;
  border-radius: 20px;
  font-size: 1em;
  color: $dark;
  transition: 0.5s;
  font-family: $mainFont;

  &:hover {
    text-decoration: none;
    color: $admin-color;
  }
}

.icon:hover {
  opacity: 0.5;
}

.icon-show {
  width: 100%;
}

.edit-form {
  color: $bg-color;
  font-size: 20px;

  &:hover {
    color: $dark;
  }
}

/* Team admin */
.card-title {
  font-size: 1.6rem;
  text-transform: none;
  color: $dark;
}

.img-team {
  max-width: 150px;
  min-width: 150px;
  border-radius: 50%;
}

.faro {
  font-size: 20px;
  color: $dark;

  &:hover {
    color: $dark;
  }
}

.btn-primary {
  background-color: $admin-color;
}


.btn-delete {
  padding: 0;
}
