{% extends 'base.html.twig' %}

{% block title %}Oryalis - Formations{% endblock %}

{% block body %}
    <section class="container">
        <h2 class="trainings-title">Formations</h2>
        <p class="text-center">Découvrez les formations dispensées par Oryalis.</p>
        <div class="row justify-content-center">
            <nav class="dropdown-trainings">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Auditeur Interne de Système de Management Qualité</a>
                        <div class="dropdown-menu" x-placement="bottom-start">
                            <a class="dropdown-item" href="#">IATF 16949 2016 – Système de management de la qualité pour l'automobile </a>
                            <a class="dropdown-item" href="#">ISO 13485 – Dispositifs médicaux</a>
                            <a class="dropdown-item" href="#">ISO 9001 2015 – Système de management de la qualité</a>
                            <a class="dropdown-item" href="#">ISO 45001 - 2018 – Systèmes de management de la santé et de la sécurité au travail</a>
                            <a class="dropdown-item" href="#">OHSAS 18001 – Hygiène Santé Sécurité au Travail</a>
                            <a class="dropdown-item" href="#">ISO 14001 2015 – Système de management environnemental</a>
                            <a class="dropdown-item" href="#">Auditeur Interne de Système Environnemental</a>
                            <a class="dropdown-item" href="#">Auditeur Interne : Système de Management HSST</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <h3 class="training-name">Title</h3>
        <div class="row justify-content-around">
            <p><i class="far fa-clock picto-formations"></i>Durée</p>
            <p><i class="fas fa-users picto-formations"></i>Public Concerné</p>
            <p><i class="fas fa-tasks picto-formations"></i>Pré-requis</p>
        </div>
        <div class="program">
            <h4><i class="far fa-check-circle picto-formations"></i>Objectifs</h4>
            <p>Oui</p>
            <h4><i class="fas fa-book picto-formations"></i>Programme</h4>
            <p>Oui</p>
            <h4><i class="fas fa-cogs picto-formations"></i>Méthodes et Moyens pédagogiques</h4>
            <p>Oui</p>
        </div>
    </section>
{% endblock %}
