{% extends 'layoutVistitor.html.twig' %}

{% block title %}Oryalis - Formations{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container">
        <img src="{{ asset('build/images/training.jpg') }}" class="training-pic" alt="photo de formation">
        <h1 class="trainings-title">Formations</h1>
    </div>
    <section class="container">
        {% include 'formations/_trainingDetails.html.twig' %}
        <a class="btn btn-primary" href="{{ path('training_download', {'id': training.id}) }}">Télécharger en PDF</a>
        <p class="text-center"><a href="{{ path('trainings_index') }}" class="back-to-list-trainings">Retour à la
                liste</a></p>
    </section>
{% endblock %}
