{% extends 'layoutVistitor.html.twig' %}

{% block title %}Oryalis - Formations{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center pic-container">
            <img src="{{ asset('build/images/training.jpg') }}" class="training-pic" alt="photo de formation">
        </div>
        <h2 class="trainings-title">Formations</h2>
        <p class="text-center">Découvrez les formations dispensées par Oryalis.</p>
        <div class="row justify-content-center">
            <ul class="list-group training-list">
                {% for training in trainings %}
                    <a href="{{ path('training_show', {'id': training.id}) }}"
                       class="list-group-item list-group-item-action training-item">
                        {{ training.title }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}