<form class="btn btn-delete" method="post" action="{{ path('standard_delete', {'id': standard.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette norme ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ standard.id) }}">
    <button class="btn"><i class="far faro fa-trash-alt"></i></button>
</form>
