{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin Normes{% endblock %}

{% block body %}
    <h1 class="training-title p-4 text-center">Normes</h1>
    <h2 class="training-sub-title text-center mb-4">Gérez les Normes</h2>
    <div class="text-center">
        <button type="submit" class="btn add mb-4"><a href="#" class="link-training">Ajouter une norme</a></button>
    </div>
    <div class="row justify-content-center">

        <table class="table col-8 table-striped">
            <thead class="thead">
            <tr>
                <th scope="col" class="table-title-index">Les Normes</th>
                <th scope="col" class="table-title-index text-center">Editer</th>
                <th scope="col" class="table-title-index text-center">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for standard in standards %}
                <tr>
                    <td><a href="{{ path('standard_show', {'id': standard.id}) }}" class="link-training"> {{ standard.title }}</a></td>
                    <td class="text-center">Modifier</td>
                    <td class="text-center">supprimer</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}