{% extends 'base.html.twig' %}

{% block title %}New Standard{% endblock %}

{% block body %}
    <h1>Create new Standard</h1>

    {{ include('standard/_form.html.twig') }}

    <a href="{{ path('standard_index') }}">back to list</a>
{% endblock %}
