{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier la formation{% endblock %}

{% block body %}
    <h1 class="training-title p-4 text-center">Modifier la formation</h1>

    <div class="table-title container pt-lg-4 mb-lg-4">

        <div class="col text-center">
            {{ include('admin/training/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {{ include('admin/training/_delete_form.html.twig') }}
            <a href="{{ path('training_index') }}"><i class="far fa-arrow-left icon icon-show btn edit-form"></i></a>
        </div>
    </div>

{% endblock %}
