{% extends 'layoutAdmin.html.twig' %}

{% block title %}New Training{% endblock %}

{% block body %}
    <h1 class="training-title p-4 text-center">Créer une nouvelle formation</h1>

<div class="table-title container pt-lg-4 mb-lg-4">
    <div class="col text-center">
    {{ include('admin/training/_form.html.twig') }}
        <a href="{{ path('training_index') }}"><i class="far fa-arrow-left icon btn edit-form"></i></a>
    </div>
</div>

{% endblock %}
