<div class=" banner paral backgroundban">
    <div class="row align-items-center">
        <div class="col-12 main-title">
            <h1 class="bannerTitle text-center align-middle col-12">Oryalis</h1>
            <h2 class="bannerSubtitle text-center align-middle col-12">Qualité - Sécurité - Environnement</h2>
        </div>
    </div>
</div>
