<footer class="footer-expand-lg bg-light pb-5 pt-5">
<div class="row d-flex justify-content-lg-between ">
        <div class="col-lg-4 col-md-6 col-sm-4 footer-brand pl-4">
            <img class="logo_footer pl-5" src="{{asset('build/images/logo.png')}}" title="logo" alt="logo du site">
        </div>
    <div class="address col-lg-4 col-md-6 col-sm-4 pl-4">
        <span class="d-block">Centre routier</span>
        <span class="d-block" >Pôle 45</span>
        <span class="d-block">321 rue des Chataigniers</span>
        <span class="d-block">45770 Saran</span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-4">
                    <ul class="list">
                        <li><a class="footer_link" href="">Mentions légales</a></li>
                        <li><a class="footer_link" href="">Nous contacter</a></li>
                        <li><a class="footer_link" href="">Les normes</a></li>
                        <li><a class="footer_link" href="http://qualite-securite-environnement.oryalis.com/" target="_blank">Notre Blog</a></li>
                    </ul>
        </div>
</div>
</footer>