{% block body %}
    <section class="container-fluid qcm">
        <div class="container">
            <h2>Découvrez notre quiz du mois de <span>{{  }} {{ question.year }}</span></h2>
            <p>Chaque mois, découvrez une nouvelle question portant sur les normes QSE.</p>
            <div class="row justify-content-center">
                <div class="card bg-secondary mb-3">
                    <div class="card-header card-question">{{ question.name }}</div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            {% for answer in answers %}
                                <button type="button"
                                        class="btn btn-outline-primary col-9" data-toggle="modal"
                                        data-target="#qcm">{{ answer.name }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
