<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet"
              crossorigin="anonymous">
        <link rel="stylesheet" href="build/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cairo|Cantarell|Montserrat+Alternates&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
{% for message in app.flashes('success') %}
    <div class="alert alert-success m-0">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger m-0">
        {{ message }}
    </div>
{% endfor %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="build/js/app.js"></script>
{% endblock %}
</body>
</html>
