{% extends 'layoutVistitor.html.twig' %}

{% block title %}Veille Réglementaire{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container">
        <img src="{{ asset('build/images/Veille_jumb.jpg') }}" class="training-pic" alt="photo de conseil">
        <h1 class="trainings-title">Veille Réglementaire</h1>
    </div>
    <div class="watch-repo">
        <section class="container">
            <hr>
            <p>La réglementation santé, sécurité et environnement évolue sans cesse, c'est un enjeu majeur pour
                votre
                entreprise, une surveillance efficace et efficiente de tous les textes nécessite des ressources
                importantes.</p>
            <hr>
            <p>Oryalis a développé des outils simples pour vous aider à suivre la réglementation.</p>
            <hr>
            <p>Un fichier index de tous les textes qui vous sont applicables, le texte dans son format original
                et
                une fiche de lecture pour chacun.</p>
            <hr>
            <p>Le résultat de l'évaluation de conformité peut être enregistré directement dans les fiches de
                lecture
                et ainsi le taux de conformité est calculé pour chaque texte.</p>
            <hr>
            <p>Pour un accès plus rapide des mots clés sont définis.</p>
            <hr>
            <h2 class="text-center pt-4">Oryalis peut vous proposer différents niveaux de veille :</h2>
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="div-watch text-center">
                        <div class="level1">
                            <p class="text-center txt-stick">Niveau 1</p>
                        </div>
                    </div>
                    <p class="pt-3 lvl1">Indentification des textes Après définition de votre domaine d’activité envoi
                        périodique du fichier
                        index, des textes et des fiches de lecture.</p>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="div-watch text-center">
                        <div class="level2">
                            <p class="text-center txt-stick">Niveau 2</p>
                        </div>
                    </div>
                    <p class="pt-3 lvl2">Niveau 1 + analyse périodique en rendez vous sur votre site ou par
                        téléphone. </p>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="div-watch text-center">
                        <div class="level3">
                            <p class="text-center txt-stick">Niveau 3</p>
                        </div>
                    </div>
                    <p class="pt-3 ml-4 lvl3">Niveau 2 + Audit périodique de réévaluation de conformité. </p>
                </div>
            </div>

            <h2 class="text-center pt-4">Les bénéfices :</h2>
            <hr>
            <p><i class="fas faro fa-chevron-right"></i> Outil personnalisable par vous-même.</p>
            <hr>
            <p><i class="fas faro fa-chevron-right"></i> Réponse à deux exigences des référentiels ISO 14001 et OHSAS
                18001 (4.3.2 Exigences légales et 4.5.2
                évaluation de conformité).</p>
            <hr>
            <p><i class="fas faro fa-chevron-right"></i> Identification précise des non-conformités.</p>
            <hr>
            <p><i class="fas faro fa-chevron-right"></i> Suivi des actions correctives.</p>
            <hr>
            <p><i class="fas faro fa-chevron-right"></i> Possibilité de suivre la réglementation pour plusieurs sites.
            </p>
            <hr>
            <div class="text-center pt-5">
                <p>Devis : <a href="#">Contactez-nous pour un devis personnalisé !</a></p>
                <p><a href="{{ path('questions_history') }}">Tester vos connaissances !</a> Tous les mois nous vous proposons une
                    question réglementation.</p>
            </div>
        </section>
    </div>
{% endblock %}

