{% extends 'layoutVistitor.html.twig' %}

{% block title %}Veille Réglementaire{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container">
        <img src="{{ asset('build/images/audit.jpeg') }}" class="training-pic" alt="photo de conseil">
        <h1 class="trainings-title">Veille Réglementaire</h1>
    </div>
    <section class="container watch-repo">
        <div class="row justify-content-start">
            <div class="col col-md-10">
                <p>La réglementation santé, sécurité et environnement évolue sans cesse, c'est un enjeu majeur pour
                    votre
                    entreprise, une surveillance efficace et efficiente de tous les textes nécessite des ressources
                    importantes.</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            <div class="col col-md-10">
                <p>Oryalis a développé des outils simples pour vous aider à suivre la réglementation.</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">
            <div class="col col-md-10">
                <p>Un fichier index de tous les textes qui vous sont applicables, le texte dans son format original et
                    une fiche de lecture pour chacun.</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            <div class="col col-md-10">
                <p>Le résultat de l'évaluation de conformité peut être enregistré directement dans les fiches de lecture
                    et ainsi le taux de conformité est calculé pour chaque texte.</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">
            <div class="col col-md-10">
                <p>Pour un accès plus rapide des mots clés sont définis.</p>
            </div>
        </div>
        <hr>
        <h2 class="text-center pt-4">Oryalis peut vous proposer différents niveaux de veille :</h2>
        <div class="row">
            <div class="col col-md-4 col-sm-12">
                <div class="text-center">
                    <img src="" class="img-watch" alt="Niveau 1">
                </div>
                <p>Indentification des textes Après définition de votre domaine d’activité envoi périodique du fichier
                    index, des textes et des fiches de lecture.</p>
            </div>
            <div class="col col-md-4 col-sm-12">
                <div class="text-center">
                    <img src="" class="img-watch" alt="Niveau 1">
                </div>
                <p>Niveau 1 + analyse périodique en rendez vous sur votre site ou par téléphone. </p>
            </div>
            <div class="col col-md-4 col-sm-12">
                <div class="text-center">
                    <img src="" class="img-watch" alt="Niveau 1">
                </div>
                <p>Niveau 2 + Audit périodique de réévaluation de conformité. </p>
            </div>
        </div>

        <h2 class="text-center pt-4">Les bénéfices :</h2>
        <p>Outil personnalisable par vous-même.</p>
        <hr>
        <p>Réponse à deux exigences des référentiels ISO 14001 et OHSAS 18001 (4.3.2 Exigences légales et 4.5.2
            évaluation de conformité).</p>
        <hr>
        <p>Identification précise des non-conformités.</p>
        <hr>
        <p>Suivi des actions correctives.</p>
        <hr>
        <p>Possibilité de suivre la réglementation pour plusieurs sites.</p>
    </section>
{% endblock %}

