{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin - Ajouter une actualité{% endblock %}

{% block body %}
    <h1 class="training-title py-4 text-center">Ajouter une actualité</h1>

    <div class="form-title container pt-lg-4 mb-lg-4">
        <div class="col">
            {{ include('admin_news/_form.html.twig') }}
        </div>
        <div class="text-right">
            <a class="btn btn-primary" href="{{ path('news_index') }}"><i class="fas fa-arrow-left"></i> Retour à la
                liste</a>
        </div>
    </div>


{% endblock %}
