{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ajouter un membre de l'équipe{% endblock %}

{% block body %}
    <h1 class="training-title py-4 text-center">Ajouter un membre</h1>

    <div class="form-title container pt-lg-4 mb-lg-4">
        <div class="col">
            {{ include('admin_employee/_form.html.twig') }}
        </div>
    </div>
    <div class="container text-right pb-4 pr-5">
        <a class="btn btn-primary" href="{{ path('admin_employee') }}"><i class="fas fa-arrow-left"></i> Liste des
            membres</a>
    </div>
{% endblock %}
