{% extends 'layoutVistitor.html.twig' %}

{% block title %}Audit QSE{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container m-0">
        <img src="{{ asset('build/images/audit.jpeg') }}" class="training-pic" alt="photo de conseil">
        <h1 class="trainings-title">Audit QSE</h1>
    </div>
    <section class="container audit">
        <p class="pb-3">La réalisation d'un audit à valeur ajoutée est difficile, la vérification de la conformité de
            votre système au référentiel est bien sur toujours nécessaire mais il est dommage de limiter l'audit à cet
            objectif.
        </p>
        <p class="pb-3">L'évaluation de l'efficacité de votre système et l'identification d'opportunité d'amélioration
            sont des objectifs plus difficiles à atteindre mais beaucoup plus rentables pour votre entreprise.
        </p>
        <p class="pb-3">Avec son expérience diversifiée Oryalis peut vous apporter cette richesse dans la réalisation de
            vos audits internes, en français en anglais ou en espagnol.
        </p>
        <h2 class="text-center">Les objectifs de l'audit sont multiples :</h2>
        <hr class="hr-audit">

        <div class="row pt-3 pb-5">
            <div class="col col-md-12 col-lg-6 col-sm-12 align-self-center">
                <p class="pb-1 ml-3">Identifier des opportunités d'amélioration du système de management.</p>
                <p class="pb-1 ml-3">Evaluer l'efficacité du système, la maturité, la vitalité du système.</p>
                <p class="pb-1 ml-3">Garantir la conformité du système aux exigences (clients, réglementaires,
                    référentiels, internes).</p>
            </div>
            <div class="col col-md-12 col-lg-6 col-sm-12 text-center">
                <img src="{{ asset('build/images/audit_3.jpeg') }}" class="img-audit" alt="Une image d'audit">
            </div>
        </div>
        <h2 class="text-center">Nous pouvons vous aider pour tous vos audits Qualité, Sécurité, Environnement
            :</h2>
        <hr class="hr-audit">

        <div class="row pt-3 pb-5">
            <div class="col col-md-12 col-lg-6 col-sm-12 text-center">
                <img src="{{ asset('build/images/audit_1.jpeg') }}" class="img-audit" alt="Une image d'audit">
            </div>
            <div class="col col-md-12 col-lg-6 col-sm-12 align-self-center">
                <div class="ml-3">
                    <p class="pb-1 ml-3">Audits internes.</p>
                    <p class="pb-1 ml-3">Audit à blanc.</p>
                    <p class="pb-1 ml-3">Audit fournisseur.</p>
                    <p class="pb-1 ml-3">Diagnostic initial.</p>
                </div>
            </div>
        </div>
        <h2 class="text-center">Notre prestation d'audit inclut : </h2>
        <hr class="hr-audit">

        <div class="row pt-3 pb-5">
            <div class="col col-md-12 col-lg-6 col-sm-12 align-self-center">
                <p class="pb-1 ml-3">La préparation hors site avec l'analyse des documents.</p>
                <p class="pb-1 ml-3">La rédaction d'un programme d'audit.</p>
                <p class="pb-1 ml-3">La réalisation de l'audit terrain.</p>
                <p class="pb-1 ml-3">La réunion de clôture avec la restitution des écarts points forts, points faibles,
                    opportunité d'amélioration.</p>
                <p class="pb-1 ml-3">La rédaction et l'envoi du rapport.</p>
            </div>
            <div class="col col-md-12 col-lg-6 col-sm-12 text-center">
                <img src="{{ asset('build/images/audit_2.jpeg') }}" class="img-audit" alt="Une image d'audit">
            </div>
        </div>
        <hr class="hr-audit">
        <h2 class="text-center">Si vous le souhaitez, noux pouvons faire des proposition d'actions correctives, ainsi
            que le suivi de la mise en place de ces
            actions. </h2>
        <hr class="hr-audit">
    </section>
{% endblock %}
