{% extends'base.html.twig' %}
{% block body %}
<h3>You did it! You registered!</h3>

Hi! You're successfully registered.

{# example, assuming you have a route named "login" #}
    <p>To login, go to: <a href="http://127.0.0.1:8000/login/resetPassword/{{token}}">Réinitialiser le mot de passe</a></p>
Thanks!
{% endblock %}